h1 {
  color: #575F7D;

}

h2 {
  color: #5E94AD;
}

p {
  color: #273D47;
  font-family: 'Trade Winds', serif;
  padding: 10px;
}

html {
  background-color: rgba(195,195,195,0.1);
}

a {
  font-family: 'Trade Winds', serif;
  text-decoration: none;
  color: #5E94AD;
}

a:hover {
  font-family: 'Trade Winds', serif;
  color: black;
}

.card {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 30px 0px;
  margin-left: 400px;
  margin-right: 400px;
  text-align: center;
}

#avatar {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline i {
  font-size: 50px;
  display: inline-block;
}

.list-inline li {
  display: inline;
  padding: 20px;
}

.btn {
  background-color: #6B72E1;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}

.btn:hover {
  background-color: rgba(107,144,225,0.9)
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
